<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Game</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1 id="level-title">Press A Key to Start</h1>
  <div class="container">
    <div lass="row">

      <div type="button" id="green" class="btn green">

      </div>

      <div type="button" id="red" class="btn red">

      </div>
    </div>

    <div class="row">

      <div type="button" id="yellow" class="btn yellow">

      </div>
      <div type="button" id="blue" class="btn blue">

      </div>

    </div>

  </div>

  <a href="/"><button class="button-92 back-button" id="home-button" role="button" onclick="playSound()">HOME</button></a>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>  <!--includig jquery-->

  <script src="script.js"></script>

  <script>
    $(document).ready(function() {
      var buttonClickSound = new Audio("sounds/button-click.mp3");
      buttonClickSound.load();
      $("#home-button").on("click", function() {
        playButtonClickSound();
      });

      function playButtonClickSound() {
        buttonClickSound.currentTime = 0; 
        buttonClickSound.play();
      }
    });
  </script>
</body>

</html>
